.button-v1 {
    background-color: red;
    color: white;
    padding: 5px 8px;
    border: none;
    border-radius: 3px;

}

.button-v2 {
    background-color: blue;
    color: white;
    padding: 5px 8px;
    border: none;
    border-radius: 3px;
}